<h1 id="titulo">BIOGRAFIA DA FAMÍLIA CARTER</h1>

<div class="container"> 
    <table class="tabela">
        <tr>
            <td></td>
            <td>NOME</td>
            <td>BIOGRAFIA</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Beyoncé</td>
            <td>Beyoncé é uma cantora, compositora, produtora musical e atriz norte-americana de música R&B e pop.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jay-Z</td>
            <td>Shawn Corey Carter (Nova Iorque, 4 de dezembro de 1969), mais conhecido marido da Beyoncé</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Blue Ivy</td>
            <td>Blue Ivy Carter é uma cantora mirim estadunidense e patroa da Beyoncê e do Jay-Z.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rumi Carter</td>
            <td>Rumi Carter é a filha mais nova da cantora e compositora americana Beyoncé e seu marido rapper.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Sir Carter</td>
            <td>Um dos famosos gêmeos Carter, ele e a sua irmã gêmea, Rumi.</td>
        </tr>
    </table>
</div>